@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar globally */
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .smooth-scroll-400 {
    scroll-behavior: smooth;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .smooth-scroll-400 {
      scroll-behavior: smooth;
      transition: scroll 0.4s ease-in-out;
    }
  }
  
  .snap-section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* globals.css */

:root {
  --font-default: var(--font-space-grotesk);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 0;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scroll-snap-type: y mandatory;
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

body {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  font-family: var(--font-default), sans-serif;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@layer base {}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
